<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="timestamp" type="java.lang.String"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tag for Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
    <script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <title>Error</title>
</head>
<body>
<header>
    <div th:replace="Home :: HeaderBar">
        <nav class="navbar navbar-expand-sm navbar-dark navbar-custom">
            <div class="container">
                <a href="Home.html" class="navbar-brand">Student Data</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="my-4">Student Data Error</h1>
        <p class="alert alert-danger">Error: <span th:text="${error}">Not Found</span></p>
    </div>
</header>
<main role="main" class="container">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="row">Date</th>
                <td th:text="${timestamp}">Sun Feb 10 11:52:33 EST 2019</td>
            </tr>
            <tr>
                <th scope="row">Path</th>
                <td th:text="${path}">/blah/balh/balh</td>
            </tr>
            <tr>
                <th scope="row">Error</th>
                <td th:text="${error}">Not Found</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td th:text="${status}">404</td>
            </tr>
            <tr>
                <th scope="row">Message</th>
                <td th:text="${message}">No message available</td>
            </tr>
        </tbody>
    </table>
    <p class="mt-4">
        <a th:href="@{/}" href="Home.html"
           class="btn btn-primary"><i class="fas fa-home"></i>&nbsp;Home</a>
    </p>
</main>
</body>
</html>