<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tag for Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
    <script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <title>Password Changed</title>
</head>
<body>
<header>
    <div th:replace="Home :: HeaderBar">
        <nav class="navbar navbar-expand-sm navbar-dark navbar-custom">
            <div class="container">
                <a href="Home.html" class="navbar-brand">Student Data</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="my-4">Password Changed</h1>
        <p class="alert alert-info">Your password has been changed</p>
    </div>
    <main role="main" class="container">
        <p class="mt-4"><a th:href="@{/}" href="Home.html"
                           class="btn btn-primary"><i class="fas fa-home"></i>&nbsp;Home</a></p>
    </main>
</header>
</body>
</html>